html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Zakáže scrollování do stran, kdyby něco přeteklo */
  /* Záměrně jsme smazali 'overflow: hidden', takže dolů už scrollovat půjde! */
}